.react-json-view {
    min-height: 96px;
    word-break: break-all;
    -ms-word-break: break-all;

    .copy-to-clipboard-container {
        vertical-align: top;
        display: none;
    }
    .click-to-add {
        display: none;
    }
    .click-to-remove {
        display: none;
    }
    .click-to-api-call {
        display: none;
    }
    .click-to-edit {
        display: none;
    }

    .object-key-val {
        &:hover > span > .object-meta-data {
            & > .copy-to-clipboard-container {
                display: inline-block;
            }
            & > .click-to-add {
                display: inline-block;
            }
            & > .click-to-remove {
                display: inline-block;
            }
            & > .click-to-api-call {
                display: inline-block;
            }
        }
    }

    .variable-row {
        &:hover {
            & .copy-to-clipboard-container {
                display: inline-block;
            }
        }
    }

    .object-content .variable-row {
        &:hover .click-to-remove {
            display: inline-block;
        }
        &:hover .click-to-api-call {
            display: inline-block;
        }
        &:hover .click-to-edit {
            display: inline-block;
        }
    }
}
